

h1 {
	font-weight: bold;
	text-align: center;
	font-size: 26pt;
	color: #CD5C5C;
	border-bottom: 1px solid dareken(#2dceb1, 15%);
	letter-spacing: 4px;
	padding: 12px 0;
	background: #F5DEB3;
	border-bottom: 1px solid #eeeeee;
}

h3 {
	text-align: center;
	color: #F4A460;
}

#quiz {
	font-family: 'Arial';
	line-height: 1.55;
	color: #737373;
	font-weight: bold;
	margin-left: 445px;
}

#result {
	border-radius: 18px;
	font-weight: bold;
}


.question {
	/*font-weight: bold;
*/	font-size: 14pt;

}

.answers {
	font-size: 13pt;
}

#results {
	font-weight: bold;
	color: red;
	margin-left: 620px;
}

#submit {
	margin-left: 550px;
	width: 300px;
	padding: .8em 1em;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: bold;
	color: #800000;
	background : #F5DEB3;
}

